body {
  margin: 0;
  line-height: normal;
}
.mask-group-icon13 {
  position: absolute;
  top: 771px;
  left: 834px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.mapbg3-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 7424px;
  height: 12374px;
  overflow: hidden;
}
.download-5-2,
.mask-group-icon14 {
  position: absolute;
  top: 162px;
  left: 623px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.download-5-2 {
  top: 42px;
  left: 483px;
  width: 2722px;
  height: 1066px;
}
.one-of-the {
  margin-block-start: 0;
  margin-block-end: 0;
}
.each-time-it {
  margin: 0;
}
.one-of-the-container,
.renzo-piano {
  position: absolute;
  line-height: 141.4%;
}
.one-of-the-container {
  top: 47px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 611px;
}
.renzo-piano {
  top: 0;
  left: 6px;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.one-of-the-great-beauties-of-a-parent {
  position: absolute;
  top: 472px;
  left: 586px;
  width: 611px;
  height: 115px;
}
.philosophy7 {
  position: absolute;
  top: 676px;
  left: 1442px;
  font-size: var(--font-size-4xl);
  line-height: 141.4%;
  font-weight: 800;
}
.frame-child3,
.frame-child4 {
  position: absolute;
  left: 1719px;
  width: 62px;
  height: 62px;
}
.frame-child3 {
  top: 100px;
  cursor: pointer;
}
.frame-child4 {
  top: 837px;
}
.b {
  position: absolute;
  top: 595px;
  left: 8px;
  line-height: 141.4%;
}
.mask-group-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 32.56px;
  object-fit: cover;
}
.download-5-21,
.parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 107px;
  height: 633px;
}
.download-5-21 {
  top: 654px;
  width: 76px;
  height: 169px;
  object-fit: cover;
}
.frame-parent {
  position: absolute;
  top: 136px;
  left: 586px;
  width: 107px;
  height: 823px;
  font-size: var(--font-size-xl);
}
.mask-group-parent {
  position: absolute;
  top: -42px;
  left: -483px;
  width: 2722px;
  height: 1066px;
  font-size: 22px;
}
.download-5-36,
.mask-group-icon16 {
  position: absolute;
  top: 98px;
  left: 586px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.download-5-36 {
  top: 0;
  left: 446px;
  width: 2722px;
  height: 1066px;
}
.projects8 {
  position: absolute;
  top: 698px;
  left: 1461px;
  line-height: 141.4%;
  font-weight: 800;
}
.frame-child5,
.frame-child6,
.frame-group {
  position: absolute;
  top: 211px;
  left: 1682px;
  width: 62px;
  height: 62px;
}
.frame-child6,
.frame-group {
  top: 948px;
}
.frame-group {
  top: 78px;
  left: 549px;
  width: 107px;
  height: 823px;
  font-size: var(--font-size-xl);
}
.mask-group-group {
  position: absolute;
  top: 990px;
  left: -446px;
  width: 2722px;
  height: 1066px;
}
.download-5-5,
.mask-group-icon18 {
  position: absolute;
  top: 96px;
  left: 684px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.download-5-5 {
  top: 0;
  left: 403px;
  width: 2722px;
  height: 1066px;
}
.founder8 {
  position: absolute;
  top: 690px;
  left: 1418px;
  line-height: 141.4%;
  font-weight: 800;
}
.frame-child7,
.frame-child8,
.frame-container {
  position: absolute;
  top: 265px;
  left: 1639px;
  width: 62px;
  height: 62px;
}
.frame-child8,
.frame-container {
  top: 1002px;
}
.frame-container {
  top: 121px;
  left: 506px;
  width: 107px;
  height: 823px;
  font-size: var(--font-size-xl);
}
.mask-group-container {
  position: absolute;
  top: 2052px;
  left: -403px;
  width: 2722px;
  height: 1066px;
}
.mask-group-icon20,
.mask-group-icon21 {
  position: absolute;
  top: 0;
  left: 37px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.mask-group-icon21 {
  top: 854px;
  left: 169px;
}
.frame-child10,
.frame-child9 {
  position: absolute;
  top: 417px;
  left: 1133px;
  width: 62px;
  height: 62px;
}
.frame-child10 {
  top: 1154px;
}
.download-5-43,
.frame-parent1 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 107px;
  height: 823px;
}
.download-5-43 {
  top: 115px;
  left: 455px;
  width: 1843px;
  height: 1268px;
  object-fit: cover;
}
.contact8 {
  position: absolute;
  top: 957px;
  left: 941px;
  font-size: var(--font-size-4xl);
  line-height: 141.4%;
  font-weight: 800;
}
.mask-group-parent1 {
  position: absolute;
  top: 4067px;
  left: 103px;
  width: 2298px;
  height: 1383px;
  font-size: var(--font-size-xl);
}
.mask-group-icon23 {
  position: absolute;
  top: 122px;
  left: 821px;
  width: 643.06px;
  height: 392px;
  object-fit: cover;
}
.frame-child11 {
  position: absolute;
  top: 211px;
  left: 1133px;
  width: 62px;
  height: 62px;
}
.download-5-37,
.frame-parent2 {
  position: absolute;
  top: 146px;
  left: 0;
  width: 107px;
  height: 823px;
}
.download-5-37 {
  top: 0;
  left: 414px;
  width: 981px;
  height: 1066px;
  object-fit: cover;
}
.blog8 {
  position: absolute;
  top: 852px;
  left: 977px;
  font-size: var(--font-size-4xl);
  line-height: 141.4%;
  font-weight: 800;
}
.linkicon-11 {
  position: absolute;
  top: 878px;
  left: 1157px;
  width: 38px;
  height: 41.17px;
  overflow: hidden;
}
.mask-group-parent2 {
  position: absolute;
  top: 3116px;
  left: 103px;
  width: 1464.06px;
  height: 1066px;
  font-size: var(--font-size-xl);
}
.scroll {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 5450px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
