body {
  margin: 0;
  line-height: normal;
}
.mask-group-icon1 {
  position: absolute;
  top: 49px;
  left: 46px;
  width: 100px;
  height: 27.14px;
  object-fit: cover;
  cursor: pointer;
}
.philosophy1 {
  top: 0;
  text-align: center;
}
.blog1,
.contact1,
.founder1,
.philosophy1,
.press1,
.projects1 {
  position: absolute;
  left: 38px;
  line-height: 141.4%;
  cursor: pointer;
}
.projects1 {
  top: 50px;
  text-align: center;
}
.blog1,
.contact1,
.founder1,
.press1 {
  top: 100px;
}
.blog1,
.contact1,
.press1 {
  top: 150px;
}
.blog1,
.contact1 {
  top: 200px;
}
.contact1 {
  top: 250px;
}
.frame-item {
  position: absolute;
  top: 220px;
  left: 0;
  width: 8px;
  height: 8px;
}
.philosophy-group {
  position: absolute;
  top: 295px;
  left: 46px;
  width: 219px;
  height: 294px;
}
.mobile-navbar-item {
  position: absolute;
  top: 41px;
  left: 325px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.mobile-navbar1 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 926px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
